.btn {
    border: none;
    border-radius: var(--button-radius);
    cursor: pointer;
}

.btn-primary {
    background-color: var(--primary-color);
    color: white;
}

.btn-primary:hover {
    background-color: #1346b4;
}

.btn-secondary {
    border: var(--border);
    background-color: white;
    color: black;
}

.btn-secondary:hover {
    background-color: #eff0f2;
}